{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<body style="background-color:#EEFFDB;">

</body>

<div class="container">
    <div class="row">

        <div class="col-md-6">

            <div style="margin-top:7%;margin-left:35%;padding-top:60.000%;position:relative;"><iframe src="https://gifer.com/embed/ZUiY" width="70%" height="70%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>

        </div>
        <div class="col-md-6">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>


{% endblock %}