{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}




{%block content%}


<div class="container">
    {% for blog in blogs %}

  <div class="col-sm-4 text-center">
    <div class="card" style="float:right;">
      <div class="card-body">
        <h3 class="card-title" style="font-style:bold;">{{blog.blog_title}}</h3>
        <h5 class="card-title">category: {{blog.blog_category}}</h5>
        <p class="card-text" style="padding:2%;">{{blog.blog_content}}</p>
        <div class="card-footer">
          {% if comments %}
          <div class="row" style="margin-top:2.5%;">
            <div class="col-md-4" >
              <button class="accordion btn">All Comments</button>
              <div class="panel">
                {%for comment in comments%}
                <p style="padding-top:15%;color:black;">
                  <strong>comnt:</strong> {{comment.comment_message}}
                </p>
                {%endfor%}
              </div>
            </div>
            <div class="col-md-4">
              <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
            </div>
            <div class="col-md-4">
              <button class="accordion btn">Comment</button>
              <div class="panel">
                <div class="panel" style="padding-top:10%;width:150%;">
                  {{wtf.quick_form(comment_form)}}
                </div>
              </div>
            </div>
            {%else%}
            <div class="col-md-6">
              <i onclick="myFunction(this)" class="fa fa-thumbs-up" style="font-size: 50px;"></i>
            </div>
            <div class="col-md-6">
              <p> No comments yet. </p>
              <div class="col-md-6" style="width:100%">
                {{wtf.quick_form(comment_form)}}
              </div>
            </div>
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>


{% endfor %}
</div>


{%endblock%}