{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{%block content%}
<body style="background-color:#E3C16F;">
  
</body>

<div class="container" style="margin-top:5%;">
    <h1 style="text-align:center;">Subscribe to the latest post updates</h1>
    <div class="row" style="margin-top:2.5%;">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            {{ wtf.quick_form(subscription_form) }}

        </div>

        <div class="col-md-2"></div>
    </div>
</div>


{% endblock %}