<h1>Trial 1</h1>
{% if user == current_user %}
            <form action="{{ url_for('main.blog_pic',id=blog.id) }}" method="post" enctype="multipart/form-data">

                <input type="file" name="photo" class="form-control" required>
                <input type="submit">

            </form>
            {% endif %}

<h1>Trial 2</h1>
<form action="{{ url_for('main.blog_pic',id=blog.id) }}" method="post" enctype="multipart/form-data">

                <input type="file" name="photo" class="form-control" required>
                <input type="submit">

            </form>
